@model IEnumerable<SignetSSRProject.Models.MaterialsExpense>

@Scripts.Render("~/bundles/materials")

@{
    ViewBag.Title = "Material Expenses";
}

<h2>Material Expenses</h2>

<div id="jsGrid">

    <script>

        $(function () {

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "400px",

                filtering: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 25,
                pageButtonCount: 5,
                deleteConfirm: "Do you really want to delete the customer?",

                controller: customerInfo,

                /*controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: "/Customer/CustomerData",
                            data: filter,
                            dataType: "json"
                        });
                    },

                    insertItem: function (item) { },

                    updateItem: function (item) { },

                    deleteItem: function (item) { },
                },*/

                fields: [
                    { name: "Expense", type: "text", width: 50 },
                    { name: "JobNumber", type: "text", width: 50 },
                    { name: "ItemNumber", type: "text", width: 50 },
                    { name: "ExpenseDescription", type: "text", width: 75 },
                    { name: "PONumber", type: "text", width: 50 },
                    { name: "InvoiceNumber", type: "text", width: 60 },
                    { name: "TaxIncluded", type: "text", width: 50 },
                    { name: "TaxPercentage", type: "text", width: 60 },
                    { name: "MarkupPercentage", type: "text", width: 75 },
                    { type: "control" }
                ]
            });
        });




    </script>
</div>

@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PONumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkupPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.JobNumber)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Expense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PONumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkupPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaterialsExpenseID }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaterialsExpenseID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaterialsExpenseID })
            </td>
        </tr>
    }

    </table>
*@