@model SignetSSRProject.Models.HoursWorked

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoursWorked</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorkedRT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorkedRT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorkedOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorkedOT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemNumber.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNumber.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoursWorkedID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
