@model IEnumerable<SignetSSRProject.Models.HoursWorked>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorkedRT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorkedOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.JobNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorkedRT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorkedOT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNumber.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.JobNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HoursWorkedID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HoursWorkedID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HoursWorkedID })
        </td>
    </tr>
}

</table>
